<nav class="menu">
    <div class="brand">
        <a href="/">
            <!--<h3>CapitalclinicLife</h3>-->
            {content.header -> f:format.raw()}
        </a>
    </div>
    {parts.menu -> f:format.raw()}

    <!-- Sky Launch Nav -->
    <!-- The overlay -->
    <!--<div id="skyLaunchNav" class="overlay">-->

        <!--&lt;!&ndash; Button to close the overlay navigation &ndash;&gt;-->
        <!--&lt;!&ndash; <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a> &ndash;&gt;-->
        <!--<i class="fa fa-times closebtn" aria-hidden="true" onclick="closeNav()"></i>-->

        <!--&lt;!&ndash; Overlay content &ndash;&gt;-->
        <!--<div class="overlay-content">-->

        <!--</div>-->

    <!--</div>-->

    <!--&lt;!&ndash; Element to open/show the overlay navigation menu &ndash;&gt;-->
    <!--<span class="sky-launcher" onclick="openNav()"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>-->
    <!--&lt;!&ndash; /Sky Launch Nav &ndash;&gt;-->
</nav>
